USE [master]
GO
/****** Object:  Database [QLBanHang]    Script Date: 3/29/2023 9:50:03 AM ******/
CREATE DATABASE [QLBanHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBanHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QLBanHang.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLBanHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QLBanHang_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBanHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBanHang]
GO
/****** Object:  Table [dbo].[HANGSX]    Script Date: 3/29/2023 9:50:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGSX](
	[MAHANGSX] [nchar](10) NOT NULL,
	[TENHANG] [nvarchar](20) NULL,
	[DIACHI] [nvarchar](30) NULL,
	[SODT] [nvarchar](20) NULL,
	[EMAIL] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHANGSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 3/29/2023 9:50:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[TENNV] [nvarchar](20) NULL,
	[GIOITINH] [nchar](10) NULL,
	[DIACHI] [nvarchar](30) NULL,
	[SODT] [nvarchar](20) NULL,
	[EMAIL] [nvarchar](30) NULL,
	[PHONG] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHAP]    Script Date: 3/29/2023 9:50:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAP](
	[SOHDN] [nchar](10) NOT NULL,
	[MASP] [nchar](10) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[NGAYNHAP] [date] NULL,
	[SOLUONGN] [int] NULL,
	[DONGGIAN] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHDN] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 3/29/2023 9:50:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nchar](10) NOT NULL,
	[MAHANGSX] [nchar](10) NOT NULL,
	[TENSP] [nvarchar](20) NULL,
	[SOLUONG] [int] NULL,
	[MAUSAC] [nvarchar](20) NULL,
	[GIABAN] [money] NULL,
	[DONVITINH] [nchar](10) NULL,
	[MOTA] [nvarchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[XUAT]    Script Date: 3/29/2023 9:50:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XUAT](
	[SOHDX] [nchar](10) NOT NULL,
	[MASP] [nchar](10) NOT NULL,
	[MANV] [nchar](10) NULL,
	[NGAYXUAT] [date] NULL,
	[SOLUONGX] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHDX] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[NHAP]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHAP]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MAHANGSX])
REFERENCES [dbo].[HANGSX] ([MAHANGSX])
GO
ALTER TABLE [dbo].[XUAT]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
USE [master]
GO
